body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
}